html,
body {
   margin: 0;
   padding: 0;
}

html {
  box-sizing: border-box;
  *, *:before, *:after {
    box-sizing: inherit;
  }
}


.site-container {
  width: 100%;
  max-width: 1140px;
  padding: 0 20px;
  margin: auto;
}


.grid {
  list-style: none;
  border: 1px solid lightgray;
  width: 60px;
  height: 60px;
  text-align: center;
  display: inline-block;
  margin: 1px;
}

.grid-link {
  width: 60px;
  height: 60px;
  padding-top: 15px;
  display: inline-block;
}

.grid-link:hover {
  background-color: lightblue;
}

.v {
  font-weight: bold;
  padding-right: 5px;
  font-size: .7em;
  vertical-align: top;
}

.right {
  float: right;
}

.hidden {
  display: none;
}
