---
title: Bible API Example Application
---
      <div id="search-nav-top" class="search-nav search-nav-top"></div>
      <div id="list" class="list-container"></div>
      <div class="eb-container" id="content"></div>
      <div id="results-list" class="search-results-list list-container"></div>
      <div id="search-nav-bottom" class="search-nav search-nav-bottom"></div>
      <div id="list-sections"></div>

<% content_for :javascript do %>
    <script type="text/javascript" src="https://pkg.api.bible/fumsV3.min.js"></script>
    <script>
      /* This code ensures that FUMS will be reported correctly even if fumsV3.min.js has not finished loading before an attempt is made. */
      window.fumsData = window.fumsData || [];
      window.fums = window.fums || function () {
        window.fumsData.push(arguments);
      };
    </script>
    <script src="../js/app.js"></script>
<% end %>
